---
const pathWithBase = (path: string) => {
  const base = import.meta.env.BASE_URL;
  return base + path;
};
---

<nav>
  <a href={pathWithBase("/")}> Home</a>
  <a href={pathWithBase("/about")}>About</a>
  <a href={pathWithBase("/contact")}>Contact Page</a>
</nav>
